VITE_POKEMON_BASE_API_URL="https://pokeapi.co/api/v2"
VITE_RECHART_COLORS = [
    "#FF5959",
    "#4E8CFF",
    "#78C850",
    "#F5DE50",
    "#AA5BAA",
    "#FF9C54",
    "#9DB7F5",
    "#A7DB8D",
    "#FA92B2",
    "#D1C17D",
    "#A292BC",
    "#A38C21",
    "#EE99AC",
    "#C03028",
    "#705848",
    "#6F35FC",
    "#98D8D8",
    "#735797",
  ];
  VITE_POKEMON_IMAGE_URL="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/"
  VITE_POKEMON_IMAGE_EXT=".png"
  VITE_COMMENT_STORAGE_KEY="comments"
  VITE_LS_FAVOURITE_STORAGE_KEY="favourites"